.site-footer {
  padding: 1rem;
  text-align: left;
  border-top: 1px solid #e8e8e8;
  font-size: 0.9rem;
  width: 100%;
}

.note {
  background-color: #e7f3fe;
  border-left: 4px solid #2196F3;
  padding: 1em;
  margin: 1em 0;
}
