---
---

@import "{{ site.theme }}";
blockquote {
    border-left: 5px solid #dce6f0;
    margin: 10px 0;
    padding: 10px 0 5px 20px;
    font-style: italic;
    background-color: #f8f8f8;
    color: #819198;
}

li code, p code {
    background: #f1f5f9;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #f3f4f6;
    border-color: #e5e7eb;
}
